body{
	background-image: url(imagenes/gears.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.pregunta{
	/*background-color: #F4A460;*/
	font-family: cursive;
	text-align: justify;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

.respuesta{
	/*background-color: #A9A9A9;*/
	font-family: cursive;
	text-align: justify;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

article{
	background-color: #8FBC8F;
	font-family: cursive;
	text-align: justify;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

.imagen2{

}

.Investigacion{
	font-family: cursive;
	text-align: justify;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

footer{
	text-align: center;
	color: white;
	font-size: 18px;
	font-weight: bolder;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: black;
}

header{
	text-align: center;
	color: white;
	font-weight: bolder;
	padding-top: 10px;
	padding-bottom: 40px;
	background-color: black;
	width: 100%;
	height: 50px;
}

nav{
	text-align: left;
	font-weight: bolder;
	padding-top: 10px;
	padding-bottom: 40px;
	background-color: #223c4a;
	width: 100%;
	height: 90px;
	font-size: 25px;
}


a:link{   
 	text-decoration:none;
 	color: #FFFF00;
} 


a:visited{   
 	text-decoration:none;   
 	color: #ffd700;
} 

a:active{   
 	text-decoration:none;   
 	color: #FFFF00;
} 

ul, ol {
	list-style:none;
}
					
nav li a:hover {
	background-color:#F5B236;
	color: #1A155C;
}

footer{
	text-align: center;
	color: white;
	font-size: 18px;
	font-weight: bolder;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: black;
}

