<form action="nuevoRegistros.php" method="POST">
    <div class="form-group">
        <label for="exampleName">Name</label>
        <input type="text" name="name" class="form-control" id="exampleInputNombre" placeholder="Nombre"/>
    </div>
    <div class="form-group">
        <label for="exampleDescripcion">Descripcion</label>
        <input type="text" name="descripcion" class="form-control" id="exampleInputDescripcion" placeholder="Descripcion"/>
    </div>    
    <div class="form-group">
        <label for="exampleDesarrolladora">Desarrolladora</label>
        <input type="text" name="desarrolladora" class="form-control" id="exampleInputDesarrolladora" placeholder="Desarrolladora"/>
    </div>    
    <div class="form-group">
        <label for="exampleAnyo">Año</label>
        <input type="text" name="anyo" class="form-control" id="exampleInputAño" placeholder="Año"/>
    </div>    
    <div class="form-group">
        <label for="exampleCategoria">Categoria</label>
        <input type="text" name="categoria" class="form-control" id="exampleInputCategoria" placeholder="Categoria"/>
    </div>     
     <input type="submit" class="btn btn-primary" name="crear" value="Guardar"/>
</form>