<form action="delete.php" method="POST">
	<div class="form-group">
		<span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
      	<label for="exampleID">ID (4 digitos)</label>
        <input type="text" name="id" class="form-control" id="exampleInputId" placeholder="Id"/>
    </div>
        <input type="submit" class="btn btn-primary" name="eliminar" value="Eliminar"/>
</form>