<form action="update.php" method="POST">
    <div class="form-group">
        <label>ID videojuego (4 digitos)</label>
        <input type="text" name="id" class="form-control" id="exampleInputId" placeholder="Id videojuego"//>
    </div>
    <div class="form-group">
        <label>Nuevo nombre</label>
        <input type="text" name="nombre" class="form-control" id="exampleInputNombre" placeholder="Nombre"//>
    </div>
    <div class="form-group">
        <label>Descripcion</label>
        <input type="text" name="descripcion" class="form-control" id="exampleInputDescripcion" placeholder="Descripcion"//>
    </div>
    <div class="form-group">
        <label>Año</label>
        <input type="text" name="anyo" class="form-control" id="exampleInputAño" placeholder="Año"//>
    </div>
    <div class="form-group">
        <label>Categoria</label>
        <input type="text" name="categoria" class="form-control" id="exampleInputCategoria" placeholder="Categoria"//>
    </div>
    <div class="form-group">
        <label>Desarrolladora</label>
        <input type="text" name="desarrolladora" class="form-control" id="exampleInputDesarrolladora" placeholder="Desarrolladora"//>
    </div>    
    <input type="submit" class="btn btn-primary"name="crear" value="Guardar"/>
    </form>