<div class="container">
    <div class="row">
  <div class="text-center">
      <h3>Preguntas a contestar</h3>
  </div>
  <div class="cont1 col-xs-6 col-sm-6 col-md-8 col-lg-12">
    <div class="pregunta text-center"><strong>¿Por qué es una buena práctica separar el modelo del controlador?.</strong>
    </div>
    <div class="respuesta text-justify">
        Porque existe un mejor manejo y control sobre los errores, asi como la facilidad para enfocar distintas funciones por controladores que tengan tareas especificas.
    </div>
  </div>
</div>
</div>

