<form action="index.php" method="POST">
  <div class="form-group">
  	<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
    <label for="exampleInputNombre">Nombre</label>
    <input type="text" name="nombre" class="form-control" id="exampleInputNombre" placeholder="Nombre"/><br>
  </div>
  <div class="form-group">
  	<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    <label for="exampleInputApellido">Apellido</label>
    <input type="text" name="apellido" class="form-control" id="exampleInputApellido" placeholder="Apellido"/><br>
  </div>
  <input type="submit" class="btn btn-primary" name="submit" value="Enviar"/>
</form>