<div class="container">
    <div class="row">
  <div class="text-center">
      <h3>Preguntas a contestar</h3>
  </div>
  <div class="cont1 col-xs-6 col-sm-4">
    <div class="pregunta text-center"><strong>¿Qué es ODBC y para qué es útil?</strong>
    </div>
    <div class="respuesta text-justify">
        De las siglas Open Data Base Conectivity, significan conectividad abierta de base de datos. Es la interfaz estratégica de Microsoft para obtener acceso a datos en un entorno heterogéneo de sistemas relacionales y no-relacionales de administración de base de datos.
    </div>
  </div>
  <div class="cont2 col-xs-6 col-sm-4">
    <div class="pregunta text-center">
        <strong>¿Qué es SQL Injection?</strong>
    </div>
    <div class="respuesta text-justify">
       Es una vulnerabilidad que permite a un atacante realizar consultas a una base de datos, se vale de un incorrecto filtrado de la información que se pasa a través de los campos y/o variables que usa un sitio web. Debido a la falta de validación en la entrada de datos y a la conexión a la base de datos con privilegios de superusuario o de alguien con privilegios para crear usuarios, el atacante podría crear un superusuario en la base de datos.
    </div>
  </div>
  <!-- Optional: clear the XS cols if their content doesn't match in height -->
  <div class="clearfix visible-xs-block"></div>
  <div class="cont3 col-xs-6 col-sm-4">
    <div class="pregunta text-center">
        <strong>¿Qué técnicas puedes utilizar para evitar ataques de SQL Injection?</strong>
    </div>
    <div class="respuesta text-justify">
       Usar captchas en los formularios para validar las peticiones de los usuarios. Crear limitaciones y reglas en los formularios. Proteger formularios de XSS. Bloquear todos los caracteres especiales que no sean letras ni números
    </div>
  </div>
</div>
</div>

