header{
	background-color: #2F4F4F;
	color: #FAEBD7;
}

section{
	padding-top: 2%;
}

.subtext{
	color: #7FFFD4;
}

footer{
	margin-top: 2%;
	background-color: #2F4F4F;
	color: #8FBC8F;
}

.pregunta{
	margin-top: 5px;
}