*{
	margin:0;
	padding: 0;
}

.icon-text-document:before{
	content: "\ea26";
}

.icon-shopping-cart:before{
	content: "\ea13";
}

header{
	width: 100%;
	margin-top: 10px;
	height: 150px;
	overflow: hidden;
	background-color: #2f4f4f;
	position: relative;
}


nav{
	margin: 20px auto;
	width: 90%;
	max-width: 1000px;
	font-size: 22px;
}

nav ul{
	list-style: none;
}

nav > ul{
	display: table;
	overflow: hidden;
	width: 100%;
	background: #000;
	position: relative;
}

nav > ul li{
	display:table-cell;
}

nav > ul > li > ul{
	display: none;
} 

nav > ul li a{
	color: white;
	display: block;
	line-height: 20px;
	padding: 20px;
	position: relative;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

nav > ul > li > ul > li a:hover{
	background-color: #5da5a2
}

nav > ul > li  > a span{
	background-color: #174459;
	display: block;
	height: 100%;
	width: 100%;
	left: 0;position: absolute;
	top: -55px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

nav > ul > li  > a span .icon{
	line-height: 60px;
	display: block;
}

nav > ul > li > a:hover > span{
	top: 0;
}

#titulo{
	padding: 5px;
	text-align: center;
	margin: 5px;
	color: khaki;
}

#titulo:hover{
	color: #9EF0F9;
}


.nombreT{
	text-align: center;
	padding: 0px;
	margin: 5px;
	font-size: 22px;
	color: #fffaf0;
}

.nombreT:hover{
	color:#FAA7A7;
	font: oblique bold 120% cursive;
}

footer{
	width: 100%;
	position: fixed;
	text-align: center;
	color: white;
	font-size: 18px;
	font-weight: bolder;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: black;
	bottom: 0; 
	top: 94%;
}

form{
	width:30%;
	border: 1px solid #ccc;
	margin-left: 35%;
	margin-top: 100px;
	margin-bottom: 50px;
	padding: 1rem;
	text-align: center;
	background-position: center;
	-webkit-border-radius:40px;
	border-radius: 40px;

	-webkit-box-shadow:inset 40px 40px 40px 40px #2b64ff;
	box-shadow:inset 40px 40px 40px 40px #2b64ff;

}

label{
	font-size: 18px;
	display: block;
	width: 100%;
}

input{
	margin-bottom: 20px;
	width: 90%;
	padding: 10px;
	border: 1px solid #800000;
	-webkit-border-radius:10px;
	border-radius:10px;
	font-size: 18px;
}

input:focus{
	border: 2px solid #800000;
}

input:hover{
	border: 1px solid #20b2aa;
}

input[type="submit"]{
	margin-bottom:0;
	background-color: orange;
	font-size: 15px;
	border-radius: 10px;
}

input[type="submit"]:hover{
	margin-bottom:0;
	background-color: coral;
	font-size: 17px;
	cursor: pointer;
}

body{
	background-color: #008080;
}

#imagenesVender{
	text-align: center;
}

.imagen{
	width: 25%;
	height: 450px;
	border: 2px solid white;
	position: relative;
	margin: 0 auto;
	margin-top: 50px;
}

#primerElemento{
	margin-top: 20px;
	float: left;
	margin-left: 2%;
}

#segundoElemento{
	margin-top: 20px;
	float: left;
	margin: 0 auto;
	position: relative;
	margin-left: 2%;
	margin-top: 20px;
}

#tercerElemento{

	float: left;
	margin-top: 20px;
	margin-left: 2%;
}

aside{
	width:180px;
	height: 400px;
	float: left;
	margin-top: 20px;
	margin-left: 2%;
	border: 1px solid black;	
	background-color: white;
}

#imagen1{
	position: relative;
	display: block;
	margin-top: 10px;
}
#imagen2{
	position: relative;
	display: block;
	margin-top: 10px;
}
#imagen3{
	position: relative;
	display: block;
	margin-top: 10px;
}


#imagen1 cite{
	background-color: #111;
	filter:alpha(opacity==55);
	opacity: .55;
	color: #fff;
	position: absolute;
	bottom: 0;
	left: 10px;
	width: 84%;
	text-align: center;
	margin: 5px;
	padding: 10px;
	border-top: 1px solid #999;
}

#imagen2 cite{
	background-color: #111;
	filter:alpha(opacity==55);
	opacity: .55;
	color: #fff;
	position: absolute;
	bottom: 0;
	left: 10px;
	width: 84%;
	text-align: center;
	margin: 5px;
	padding: 10px;
	border-top: 1px solid #999;
}

#imagen3 cite{
	background-color: #111;
	filter:alpha(opacity==55);
	opacity: .55;
	color: #fff;
	position: absolute;
	bottom: 0;
	left: 10px;
	width: 84%;
	text-align: center;
	margin: 5px;
	padding: 10px;
	border-top: 1px solid #999;
}

.precio{
	font-size: 21px;
	background-color: white;
	padding: 3px;
	width: 89%;
	margin-left: 14px;
}

.botonComprar{
	width:50%;
	background-color: gold;
	margin-left:25%;
	margin-top: 10px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 20px;
	-webkit-border-radius:10px;
	border-radius:10px;
}

.botonComprar:hover{
	background-color: #ff6347;
	-webkit-box-shadow:10px 3px 5px 4px #1D3EC2;
	box-shadow:10px 3px 5px 4px #1D3EC2;
}

#cantidadArticulos{
	margin-top: 25%;
	margin-left: 5px;
	text-align: left;
}

#subtotal{
	margin-top: 25%;
	margin-left: 5px;
	text-align: left;
}
#iva{
	margin-top: 25%;
	text-align: left;
	margin-left: 5px;
}
#total{
	margin-top: 25%;
	margin-left: 5px;
	text-align: left;
}

h2{
	background-color: white;
	padding: 5px;
	text-align: center;
}

.pregunta{
	padding: 4px;
	font-family: "Tahoma","Geneva",sans-serif;
}

.respuesta{
	padding: 3px;
	font: oblique bold 100% cursive;
	text-align: justify;
}
article{
	margin-bottom: 2px;
}