
<form action="upload.php" method="post" enctype="multipart/form-data">
	<span class="glyphicon glyphicon-open-file" aria-hidden="true"></span>
	<input type="file" name="fileToUpload" id="fileToUpload"><br><br>
    <input type="submit" class="btn btn-primary" value="Upload image" name="submit">
</form>