<div class="container">
    <div class="row">
  <div class="text-center">
      <h3>Preguntas a contestar</h3>
  </div>
  <div class="cont1 col-xs-6 col-sm-4">
    <div class="pregunta text-center"><strong>¿Por qué es importante hacer un session_unset()   y luego un session_destroy()?</strong>
    </div>
    <div class="respuesta text-justify">
        Es porque al hacer el session_start() crea una sesión o reanuda la actual basada en un identificador de sesión pasado mediante una petición GET o POST, o pasado mediante una cookie. <br>
        Mientras que hacer el session_destroy() destruye toda la información asociada con la sesión actual. No destruye ninguna de las variables globales asociadas con la sesión, ni destruye la cookie de sesión. Para volver a utilizar las variables de sesión se debe llamar a session_start().
    </div>
  </div>
  <div class="cont2 col-xs-6 col-sm-4">
    <div class="pregunta text-center">
        <strong>¿Cuál es la diferencia entre una variable de sesión y una cookie?</strong>
    </div>
    <div class="respuesta text-justify">
       Las variables de session guardan los datos en la memoria del servidor web. En cambio las cookied guardan la informacion en un archivo en el cliente, además las cookies solo pueden conservar un tamaño limitado de informacion, en cambio la session puede conservar objetos complejos
    </div>
  </div>
  <!-- Optional: clear the XS cols if their content doesn't match in height -->
  <div class="clearfix visible-xs-block"></div>
  <div class="cont3 col-xs-6 col-sm-4">
    <div class="pregunta text-center">
        <strong>¿Qué técnicas se utilizan en sitios como facebook para que el usuario no sobreescriba sus fotos en el sistema de archivos cuando sube una foto con el mismo nombre?</strong>
    </div>
    <div class="respuesta text-justify">
        Utiliza distintas funciones que estan implementadas dentro de lenguajes como php que se ejecutan del lado del servidor, con ello se esta optimiza las gestion de archivos.
    </div>
  </div>
</div>
</div>

