header{
	background-color: #2F4F4F;
	color: #FAEBD7;
}

.subText{
	color:#8FBC8F;
}

.bienvenida{
	font-size: 20px;
	margin-top: 10px;
}

footer{
	margin-top: 10px;
	background-color: #2F4F4F;
	color: #FAEBD7;
}

.button-letra{
	color: #00008B;
	font-size: 20px;
}

#carousel-example-generic{
	margin-top: 10px;
	margin-left: 10px;
	margin-right:10px;
}

.cont1{
	background-color: #FFDAB9;
	padding-left: 15px;
	padding-top: 20px;
	padding-right: 15px;
	padding-bottom: 30px;
}

.cont2{
	background-color: #5F9EA0;
	padding-left: 15px;
	padding-top: 20px;
	padding-right: 15px;
	padding-bottom: 30px;
}
.cont3{
	background-color: #FFDAB9;
	padding-left: 15px;
	padding-top: 20px;
	padding-right: 15px;
	padding-bottom: 30px;
}


